.navbar{
    background: rgb(30,30,30);
    height: 5rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 7rem;
    width: 8rem;
}

.mainMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.mainMenuListItem:hover{
    color: cyan;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid cyan;
}

.mainMenuBtn{
    background:white; 
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    border-radius: 2rem;
    height: 2.5rem;
    width: 8rem;
    margin: 1rem;
}

.active{
    color: cyan;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid cyan;
}

.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}

.listItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}

@media screen and (max-width: 1024px) {
    .mainMenuListItem {
        margin: 0.5rem;
    }

    .mainMenuBtn {
        width: 6rem;
    }
}

.MenuBtn{
    background:white; 
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    border-radius: 2rem;
    height: 2.5rem;
    width: 8rem;
    margin: 1rem;
}

@media screen and (max-width: 720px){
    .mobMenu{
        display: flex;
    }

    .mainMenuBtn{
        display: none;
    }

    .mainMenu{
        display: none;
    }

    .MenuBtn{
        display: flex;
    }
    .navbar{
        padding: 1rem;
        justify-content: space-between;
    }

    .navMenu{
        top: 4.5rem;
        right: 1rem;
        width: calc(100% - 2rem);
        max-width: 20rem;
    }

    .listItem{
        padding: 0.5rem 1rem;
        margin: 0.25rem;
        text-align: center;
    }
}
